
.intro {
    background-color: #4989DC;
    margin-top: 80px;
    margin-left: 150px;
    margin-right: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: none;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.right-section {
    align-items: baseline;
}

.name {
    font-size: 25px;
    font-weight: 700;
    color: white;
    margin-bottom: 10px;
}

.position {
    font-size: 10px;
    color: white;
    margin-bottom: 5px;
}

.download-button {
    border: none;
    font-size: 10px;
    border-radius: 14px;
    padding: 5px 10px;
    background-color: #E8EAED;
    color: #8E9297;
}

.hire-button {
    background-color: #37BC9B;
    font-size: 10px;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
}

.download-button:hover,
.hire-button:hover {
    cursor: pointer;
}
